@import "./mixins";
@import "./variables";
@import "./components/notification-alert";

.nav-link {
  color: #212121;
  font-size: 18px;
}

#__nuxt,
#__layout {
  height: 100%;
}

body {
  height: 100% !important;
  min-width: 1300px !important;
}
